header {
	position: absolute;
	top:12px;
	right:30px;
}

header a:link, a:visited, a:active {
    color: #252525;
    font-family: arial, sans-serif;
    font-size:13px;
    text-decoration:none;
	margin-right:6px;
	margin-left:6px;
	position:relative;
	top:-7px;
}

header a:hover {
	text-decoration:underline;
}

#selection {
	margin-right:7px;
	margin-left:7px;
}

#bell {
	margin-right:6px;
	margin-left:6px;
}

	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
