header {
	position: absolute;
	top:12px;
	right:30px;
}

header a:link, a:visited, a:active {
    color: #252525;
    font-family: arial, sans-serif;
    font-size:13px;
    text-decoration:none;
	margin-right:6px;
	margin-left:6px;
	position:relative;
	top:-7px;
}

header a:hover {
	text-decoration:underline;
}

#selection {
	margin-right:7px;
	margin-left:7px;
}

#bell {
	margin-right:6px;
	margin-left:6px;
}

div {
	display:block;
	margin: auto;
	text-align:center;
	padding-top: 15%;
}

div img {
	width: 270px;
	height: 95px;
	margin:5px;
	margin:5px;
}

.search {
	width: 570px;
	height: 28px;
	border-top: 1px solid #bdbdbd;
	border-bottom: 1px solid #d3d3d3;
	border-right: 1px solid #d3d3d3;
	border-left: 1px solid #d3d3d3;
	padding-right: 30px;
	font: 16px arial, sans-serif;
	text-indent:5px;
	background-image: url("search_icons.png");
	background-repeat:no-repeat;
	background-position:520px 4px;
	background-size:45px 21px;
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	